name: CI

on:
  push:
    branches:
      - dev/shanmuk
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install --legacy-peer-deps


      - name: Run tests
        run: npm run test --if-present

      - name: Build Docker image
        run: docker build -t task-tracker-app .